body {
  font-family: "DM Sans";
}

.tooltip {
  top: 0;
}

.nav-item. .card {
  border-radius: 14px;
}

.modal {
  border-radius: 14px;
}

.btn {
  border-radius: 8px;
}

.small-box {
  border-radius: 14px;
}
